* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.a:link, a:hover {
  text-decoration: none;
  color: white;
}

input:invalid {
  border-color: #C00000;
  background-color: #c0000048;
}

.btn_send, .btn_suscribirse {
  color: whitesmoke;
  background-color: #198754;
  border-color: #198754;
}

.btn_send:hover, .btn_suscribirse:hover {
  color: whitesmoke;
  background-color: #136b42;
  border-color: #136b42;
}

.caja, .quienesSomos, .queHacemos {
  background-image: linear-gradient(to bottom, #ece9e6e8, #ffffffde);
  border: 1px solid #212529;
  color: #0f0f0f;
  padding: 15px;
  margin: 2%;
  flex: 1 0 0%;
  animation-name: animacion;
  animation-duration: 1s;
}

.caja:hover, .quienesSomos:hover, .queHacemos:hover {
  background-image: linear-gradient(to right, #53c234c0, #061700c5);
  border: none;
  color: whitesmoke;
}

@keyframes animacion {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1, 1);
  }
}

.header {
  background-color: #000;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_marca {
  width: 20%;
}

.header_logo {
  height: 90%;
  width: 90%;
}

.header_open {
  display: none;
}

.header_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  list-style: none;
  gap: 30px;
  margin-bottom: 0px;
}

.header_link {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.header_link:hover {
  text-decoration: underline;
}

.header_boton {
  background-color: green;
  height: 50px;
  width: 100px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 5px #1c5323;
}

.header_boton:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.5s;
  text-decoration: none;
}

.header_boton_link {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.cruz_hidden {
  display: none;
}

.carousel_img {
  height: 80%;
  width: 100%;
}

.carousel_img_lema {
  font-size: 50px;
}

.carousel_img_texto {
  font-size: 20px;
}

.main {
  background-image: url(../images/background1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  width: 100%;
  padding: 30px;
  color: #0f0f0f;
}

.main_titulo {
  margin-bottom: 15px;
}

.main_novedades {
  width: 100%;
  padding: 30px;
  background-image: linear-gradient(to bottom, #ece9e6e8, #ffffffde);
}

.card.h-100 {
  animation-name: animacion;
  animation-duration: 0.7s;
}

.contacto_main {
  background-image: url(../images/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}

.contacto_main_seccion {
  color: #0f0f0f;
}

.contacto_main_texto1 {
  font-size: 60px;
  padding: 10px;
  color: whitesmoke;
  background-color: #0f621163;
  width: fit-content;
}

.contacto_main_texto2 {
  font-size: 25px;
  padding: 10px;
  color: whitesmoke;
  background-color: #0f621163;
  width: fit-content;
}

.label {
  margin-bottom: 0.5rem;
  color: whitesmoke;
  font-weight: 500;
  background-color: #0f621163;
  width: fit-content;
}

.grid_dona {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "ele1 ele2";
}

.grid_dona_hijo1 {
  grid-area: ele1;
  padding: 1rem;
  background-image: url(../images/background1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
}

.grid_dona_hijo2 {
  grid-area: ele2;
  padding: 1rem;
}

.grid_dona_titulo {
  color: #0f0f0f;
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding: 20px;
  padding-left: 0px;
  margin: 0px;
}

.grid_dona_texto {
  color: #0f0f0f;
  font-size: 20px;
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  width: 90%;
}

.grid__dona_form {
  padding: 1rem;
}

.footer {
  background-color: #000;
  height: 300%;
  width: 100%;
  padding: 10px;
  border: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.footer section {
  width: 100%;
  padding: 20px;
  font-size: 14px;
  line-height: 140%;
  text-align: left;
  color: whitesmoke;
  display: inline-block;
  border-right-color: rgba(255, 255, 255, 0.288);
  border-right-style: ridge;
}

.footer_titulo {
  font-size: 17px;
}

.footer_contacto_linea {
  display: block;
}

.footer_redes {
  display: inline-block;
  color: whitesmoke;
  text-decoration: none;
  font-size: 150%;
  padding: 2px;
}

@media screen and (max-width: 1023px) {
  .header_logo {
    width: 110%;
  }
  .header_menu {
    gap: 20px;
  }
  .header_link {
    font-size: 15px;
  }
  .header_link:hover {
    text-decoration: none;
  }
  .header_boton {
    margin: auto;
    margin-right: 2px;
    transform: scale(0.7);
  }
  .footer {
    max-width: 100%;
    justify-content: space-around;
  }
  .contacto_main {
    max-width: 100%;
  }
  .contacto_main_texto1 {
    font-size: 40px;
  }
  .contacto_main_texto2 {
    font-size: 20px;
  }
  .form-label {
    color: whitesmoke;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ele1 ele2";
  }
}

@media screen and (max-width: 599px) {
  .header_menu {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: left;
  }
  .header_boton {
    margin: auto;
    margin-right: 2px;
    transform: scale(0.7);
  }
  .header_logo {
    height: 100%;
    width: 200%;
  }
  .header_open {
    display: block;
    font-size: 40px;
    color: whitesmoke;
    text-decoration: none;
  }
  .header_link {
    font-size: 20px;
  }
  .cruz_hidden {
    display: block;
  }
  #menu {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 70%;
    position: fixed;
    top: 0%;
    left: -100%;
    z-index: 100;
    transition: left 1s;
  }
  #menu:target {
    left: 0;
  }
  .carousel_img_lema {
    font-size: 15px;
  }
  .footer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer section {
    font-size: 12px;
    border-right-style: none;
    border-bottom-style: groove;
    border-right-color: none;
  }
  .footer_titulo {
    font-size: 14px;
  }
  .footer_redes {
    font-size: 130%;
  }
  .btn_suscribirse {
    transform: scale(0.7, 0.7);
  }
  .inputsize {
    transform: scale(1, 1);
  }
  .row {
    flex-direction: column;
    --bs-gutter-x: 0;
  }
  .contacto_main {
    max-width: 100%;
    padding: 20px;
  }
  .contacto_main_seccion {
    padding: 0px;
  }
  .contacto_main_texto1 {
    font-size: 30px;
  }
  .contacto_main_texto2 {
    font-size: 20px;
  }
  .grid_dona {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ele1" "ele2";
  }
  .grid_dona_hijo1 {
    background-image: none;
  }
  .grid_dona_hijo2 {
    grid-area: ele2;
    padding: 1rem;
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
  }
  .grid_dona_titulo {
    font-size: 20px;
  }
  .grid_dona_texto {
    font-size: 15px;
  }
}
/*# sourceMappingURL=estilos.css.map */