.contacto_main{
    background-image: url(../images/6.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width:map-get($main,width);
    padding:map-get($main,padding);
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: left;

    &_seccion {
        color:map-get($estilos,color);
}

    &_texto1 {
    font-size: 60px;
    padding: 10px;
    color: $tipografia;
    background-color: #0f621163;
    width: fit-content;
}

    &_texto2 {
    font-size: 25px;
    padding: 10px;
    color: $tipografia;
    background-color: #0f621163;
    width: fit-content;
}

}

.btn_send {
    @extend .btn_send;
}

.label {
    margin-bottom: 0.5rem;
    color: $tipografia;
    font-weight: 500;
    background-color: #0f621163;
    width: fit-content;
}