
.dona_grid {
    background-color: $background2;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "ele1 ele2" 
    "ele1 ele3" ; 


        &_texto {
        grid-area: ele1;
        }

        &_donacion {
        grid-area: ele2;
        }

        &_form {
            grid-area: ele3;
            align-self: self-end;
            margin-top: 20px;
        }


    &_titulo {
    color: map-get($estilos,color);
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 40px;
}

    &_texto {
    color: map-get($estilos,color);
    font-size: 30px;
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    width: 90%;
    padding: 40px;
}


}