.footer{
    background-color: rgba(0, 0, 0,0.8); 
    max-width: 100%;
    height: 300%;
    padding: 10px;
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    


    &_contacto_linea {
    display: block
}

    &_redes {
    display: inline-block;
    color: $tipografia;
    text-decoration: none;
    font-size: 150%;
}

}