.footer {
    background-color: #000; 
    @include sizes (100%,300%);
    padding: 10px;
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;

        section {
        width: 100%;
        padding: 20px;
        font-size: 14px;
        line-height: 140%;
        text-align: left;
        color: $tipografia;
        display: inline-block;
        border-right-color: rgba(255, 255, 255, 0.288);
        border-right-style: ridge;
        }
    
    &_titulo {
        font-size: 17px;
    }



    &_contacto_linea {
    display: block
}

    &_redes {
    display: inline-block;
    color: $tipografia;
    text-decoration: none;
    font-size: 150%;
    padding: 2px;
}

}


.btn_suscribirse {
    @extend .btn_send;
}