
@media screen and (max-width:1023px) {
    .header {
    
    
        &_logo {
        width: 110%;
        }

        &_menu {
        gap: 20px;
        }

        &_link {
        font-size: 15px;
        

        &:hover {
        text-decoration: none;
        }
}
 
        &_boton {
        margin: auto;
        margin-right: 2px;
        transform: scale(0.7);
    
    }
        
}
                  
    .footer{
        max-width: 100%;
        justify-content:space-around;

    }
     
       
    .contacto_main{
        max-width: 100%;
             
         &_texto1 {
        font-size: 40px;
        }
    
         &_texto2 {
        font-size: 20px;
        }
    }

    .form-label {
    color: $tipografia;
    }

    .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ele1 ele2";
}

    }
    
    @media screen and (max-width:599px) {
       
        .header {

        &_menu {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        text-align: left;
        }
            
    
        &_boton {
            margin: auto;
            margin-right: 2px;
            transform: scale(0.7);
        }
    
        &_logo {
            @include sizes (200%,100%);
            
        }

        &_open {
            display: block;
            font-size: 40px;
            color: $tipografia;
            text-decoration: none;
        }

        &_link {
            font-size: 20px;
        }
    }
    
          
        .cruz_hidden {
            display: block;
        }
        
        #menu {
            display: block;
            background-color: rgba(0, 0, 0, 0.8);
            @include sizes (70%,100vh); 
            position: fixed;
            top: 0%;
            left: -100%;
            z-index: 100;
            transition: left 1s;
        &:target { 
            left: 0;
        }
    
    }
        .carousel_img_lema {
                font-size: 15px; 
        }
    

    
        .footer{
            max-width: 100%;
            display: flex;
            flex-direction: column;
        
            section {
            font-size: 12px;
            border-right-style: none;
            border-bottom-style: groove;
            border-right-color: none;
            }

            &_titulo {
                font-size: 14px;
            }

            &_redes {
                font-size: 130%;
            }
        }

        .btn_suscribirse {
            transform: scale(0.7, 0.7)
            
        }

        .inputsize {
            transform: scale(1,1)
        }
        
        
            
        .row {
           flex-direction: column;
           --bs-gutter-x: 0;
        }

        .contacto_main{
            max-width: 100%;
            padding: 20px;
    
        &_seccion {
            padding: 0px;
        }

        &_texto1 {
            font-size: 30px;
        }

        &_texto2 {
            font-size: 20px;
        }
        
        }
        

        .grid_dona {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "ele1"
        "ele2";

        &_hijo1{
            background-image: none;
        }
    
        &_hijo2 {
        grid-area: ele2;
        padding: 1rem;
        background-image: map-get($main,background-image);
        background-repeat:map-get($main,background-repeat);
        background-size:map-get($main,background-size);
        background-position: bottom right;
        }

         &_titulo {
        font-size: 20px;
        }
    
        &_texto {
        font-size: 15px;
        }
}


    }

    