.main_novedades {
    width:map-get($main,width);
    padding:map-get($main,padding);
    background-image: map-get($estilos,background-image);
}

.card.h-100 {
    animation-name: animacion;
    animation-duration: 0.7s;
}

