.quienesSomos_main {
    background-color: $background2;
    width: 100%;
    padding: 30px;
    color: $tipografia;
   
}



.quienesSomos_titulo {
    margin-bottom: 15px;
}

.contenedor {
    background-color: $background;
    padding: 15px;
    margin: 2%;
    flex: 1 0 0%
}
